// =============================================================================
// Components: Buttons
// =============================================================================
// This file styles buttons and their containers

// Component Frame
// =============================================================================

.c-button {
	padding: 18px 24px 16px;
	transition: background-color $speed-hover $bezier-slide,
				color $speed-hover $bezier-slide;
	font-size: rem($font-h6);
	font-weight: $font-semibold;
	line-height: 1em;
	border-radius: 3px;
	background-color: $dark;
	color: $light;

	.-dark-mode & {
		background-color: $light;
		color: $dark;
	}

	// at or above 600px
	@include media(">=small") {
		white-space: nowrap;
	}

	// at or above 900px
	@include media(">=medium") {
		font-size: rem($font-size);
	}
}

.c-button-group {
	display: flex;
	justify-content: space-between;

	.c-button {
		flex-grow: 0;
		flex-shrink: 1;
		flex-basis: auto;
	}

	// child button spacing
	.c-button + .c-button {
		margin-left: $gutter-xs;
	}

	// wide buttons occupy full space until 600px
	.-wide {
		flex-grow: 1;
		flex-basis: 100%;
		max-width: 100%;
	}

	// let primary button stand alone
	.-primary {
		margin-right: auto;
	}

	// at or above 900px
	@include media(">=medium") {
		.-wide {
			flex-grow: 0;
			flex-basis: auto;
		}
		.-wide + .-default {
			margin-left: auto;
		}
	}

	// below 600px
	@include media("<small") {
		flex-wrap: wrap;

		.-default {
			flex-shrink: 0;
			flex-basis: 50%;
			max-width: calc(50% - 10px);
			padding-left: 0;
			padding-right: 0;
		}

		// fix margin on mobile sizes
		.-wide {
			margin-bottom: 20px;
			& + .-default {
				margin-left: 0;
			}
		}
	}
}

// Component Modifiers
// =============================================================================

.c-button.-wide {
	display: block;

	// at or above 600px
	@include media(">=small") {
		display: inline-block;
		padding-left: 32px;
		padding-left: 32px;
	}
}

.c-button.-default {
	border: 2px $dark solid;
	background-color: $dark;
	color: $light;

	@include u-hocus {
		background-color: transparent;
		color: $dark;
	}

	.-dark-mode & {
		border-color: $teal;
		background-color: $teal;
		color: $dark;
		animation: u-teal-shadow 2s infinite;

		@include u-hocus {
			background-color: transparent;
			color: $light-teal;
		}
	}
}

.c-button.-primary {
	border: 2px $blue solid;
	background-color: $blue;
	color: $light;

	@include u-hocus {
		border-color: $dark;
		background-color: transparent;
		color: $dark;
	}

	.-dark-mode & {
		border-color: $pink;
		background-color: $pink;
		color: $light-pink;
		animation: u-pink-shadow 2s infinite;

		@include u-hocus {
			background-color: transparent;
			color: $light-pink;
		}
	}
}

.tribe-events-c-top-bar__datepicker-button,
.tribe-events-c-nav__today {
	@extend .c-button;
	@extend .-primary;
	padding: 18px 24px 16px !important;
}

.tribe-events-c-top-bar__today-button,
.tribe-events-c-nav__prev,
.tribe-events-c-nav__next {
	@extend .c-button;
	@extend .-default;
	padding: 18px 24px 16px !important;
}

.wpnm-button {
	padding: 18px 24px 16px;
	font-size: rem($font-h6);
	font-weight: $font-semibold;
	line-height: 1em;
	border-radius: 3px;
	background-color: $teal;
	color: $purple;
	white-space: normal;
}

// Component Elements
// =============================================================================
