// =============================================================================
// Components: Logo
// =============================================================================
// This file styles logos around the site

// Component Frame
// =============================================================================

.c-logo {
	width: 108px;
	height: 108px;
	margin-left: auto;
	margin-right: auto;
	// transform: rotate(45deg);
	border: 1px $teal solid;
	animation: glowing 2s infinite;
}

// Component Modifiers
// =============================================================================

// Component Elements
// =============================================================================

.custom-logo {
	width: auto;
	height: auto;
	margin: 0;
}

.custom-logo-link {
	display: block;
	width: auto;
	height: auto;
	max-width: 120px;
	max-height: 120px;
	transform: rotate(45deg);

	& > img {
		display: block;
		max-width: 100%;
		max-height: 100%;
	}
}
