// =============================================================================
// Components: Menu
// =============================================================================
// This file styles different menus around the site

// Component Frame
// =============================================================================

.c-menu {
	display: flex;
}

// Component Modifiers
// =============================================================================

.c-menu.-featured-pages {
	flex-wrap: wrap;
}

// Component Elements
// =============================================================================

.menu-item {
	margin-left: 30px;

	// home link
	&-home {
		display: none;
	}

	.c-menu.-featured-pages & {
		width: 300px;
	}
}

.sub-menu {
	display: none;
}
