// =============================================================================
// Elements: Page
// =============================================================================
// This file contains the page element properties
//
// Simple page-level setup.
// 1. Set the default `font-size` and `line-height` for the entire project,
//    sourced from our default variables.
// 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
//    navigating between pages that do/do not have enough content to produce
//    scrollbars naturally.
// 3. Ensure the page always fills at least the entire height of the viewport.

// Html
// =============================================================================

html {
	min-height: 100%; /* [3] */
	// overflow: hidden;
	font-family: $font-family;
	font-size: $font-size; /* [1] */
	font-weight: $font-light;
	line-height: $line-height; /* [1] */
	color: $font-color;

	// // Is loading
	// &.-is-loading {
	// 	cursor: wait;
	// }

	// &.-is-ready {
	// 	overflow-y: scroll; /* [2] */
	// }

	// Fix web fonts in Chrome, Safari, Firefox
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

// Body
// =============================================================================

body {
	position: relative;
	background-color: $light;
	color: $dark;

	// dark mode
	&.-dark-mode {
		background-color: $dark;
		color: $light;
	}
}

// Selection
// =============================================================================
::selection {
	background-color: $selection-background;
	color: $selection-text;
	text-shadow: none;
}

// Links
// =============================================================================
a {
	text-decoration: underline;
	color: inherit;

	// Generate hover and focus states
	@include u-hocus {
		text-decoration: none;
	}
}

// Animations
// =============================================================================

// Primary buttons, light
@keyframes u-blue-shadow {
	0% {
		box-shadow: 0 0 5px 0 $blue;
	}
	50% {
		box-shadow: 0 0 10px 0 $blue;
	}
	100% {
		box-shadow: 0 0 5px 0 $blue;
	}
}

// Primary buttons, dark
@keyframes u-pink-shadow {
	0% {
		box-shadow: 0 0 5px 0 $pink;
	}
	50% {
		box-shadow: 0 0 10px 0 $pink;
	}
	100% {
		box-shadow: 0 0 5px 0 $pink;
	}
}

// Default buttons, light
@keyframes u-black-shadow {
	0% {
		box-shadow: 0 0 5px 0 $dark;
	}
	50% {
		box-shadow: 0 0 10px 0 $dark;
	}
	100% {
		box-shadow: 0 0 5px 0 $dark;
	}
}

// Default buttons, dark
@keyframes u-teal-shadow {
	0% {
		box-shadow: 0 0 5px 0 $teal;
	}
	50% {
		box-shadow: 0 0 10px 0 $teal;
	}
	100% {
		box-shadow: 0 0 5px 0 $teal;
	}
}
