// =============================================================================
// Elements: Typography
// =============================================================================
// This file contains base typographic styles

// Headings
// =============================================================================

// H1 — H6
@for $i from 1 through 6 {
    h#{$i} {
        position: relative;
        display: block;
        margin: 0;
        line-height: $heading-height;

        // headline links
        a {
            font-family: inherit;
            line-height: inherit;
            color: inherit;
        }
    }
}

// Individual heading styles
h1 {
    font-size: $mobile-h1;
    @include media(">=small") {
        font-size: $font-h1;
    }
}
h2 {
    font-size: $mobile-h2;
    @include media(">=small") {
        font-size: $font-h2;
    }
}
h3 {
    font-size: $mobile-h3;
    @include media(">=small") {
        font-size: $font-h3;
    }
}
h4 {
    font-size: $mobile-h4;
    @include media(">=small") {
        font-size: $font-h4;
    }
}
h5 {
    font-size: $mobile-h5;
    @include media(">=small") {
        font-size: $font-h5;
    }
}
h6 {
    font-size: $mobile-h6;
    @include media(">=small") {
        font-size: $font-h6;
    }
}

// Body copy
// =============================================================================

p {
    margin: 0 0 math.div($line-height, 2);
    font-size: inherit;
    line-height: $line-height;

    &:last-child,
    &:only-child {
        margin-bottom: 0;
    }
}

ul, ol {
    line-height: $line-height;
}

// Text classes
// =============================================================================

// .c-headline {
// }

// .c-subheadline {
// }

// .c-label {
// }
