// =============================================================================
// Objects: Container
// =============================================================================
// Page-level constraining and wrapping elements.
//
// > In programming languages the word *container* is generally used for structures
// that can contain more than one element.
// > A *wrapper* instead is something that wraps around a single object to provide
// more functionalities and interfaces to it.
//
// @link http://stackoverflow.com/a/13202141/140357

// Object class
// =============================================================================

.o-container {
	position: relative;

	// DOM loaded
	.-is-ready & {}
}

// Content
// =============================================================================

.o-main {
	position: relative;
}

.o-main__logo {
	display: flex;
	justify-content: center;
	margin: 60px auto;
}

.o-main__header {
	padding-left: $gutter-xs;
	padding-right: $gutter-xs;

	.c-title {
		display: flex;
		flex-wrap: wrap;
		align-items: baseline;
	}

	// at or above 1200px
	@include media(">=large") {
		padding-left: $gutter-lg;
		padding-right: $gutter-lg;
	}
}
