// =============================================================================
// Objects: Footer
// =============================================================================
// Site footer styles

// Object class
// =============================================================================

.o-footer {
	position: relative;
	padding-left: $gutter-xs;
	padding-right: $gutter-xs;
}

// Content
// =============================================================================
