// =============================================================================
// Objects: Header
// =============================================================================
// Header and navigation styles

// Object class
// =============================================================================

.o-header {
	position: relative;
	padding-left: $gutter-xs;
	padding-right: $gutter-xs;
}

// Content
// =============================================================================
