// =============================================================================
// Settings: Colors
// =============================================================================
// This file contains the color setting(s) properties

// Palette
// =============================================================================

$yellow:      #f7bf00;
$red:         #ff582e;
$green:       #134b32;
$blue:        #1f229c;
$pink:        #e8b5d0;
$light-gray:  #ccc;
$medium-gray: #626262;
$dark-gray:   #434343;
$light:       #f1f1f1;
$dark:        #1d1d1d;
$white:       #fff;
$black:       #000;

// Defaults
// =============================================================================

// Link
$link-color: $blue;

// Selection
$selection-text:       $white;
$selection-background: $black;

// Social Colors
// =============================================================================

$facebook-color:  #4267b2;
$instagram-color: #e1306c;
$linkedin-color:  #0e76a8;
$messenger-color: #006aff;
$pinterest-color: #e60023;
$snapchat-color:  #fffc00;
$twitter-color:   #1da1f2;
$whatsapp-color:  #25d366;
$youtube-color:   #f00;
