// =============================================================================
// Settings: Colors
// =============================================================================
// This file contains the color setting(s) properties

// Palette
// =============================================================================

$purple:       #0d0221;
$light-purple: #241734;
$teal:         #2de2e6;
$light-teal:   #f3ffff;
$blue:         #023788;
$pink:         #d40078;
$light-pink:   #fff3fa;
$gray:         #dce5e5;
$light:        $light-teal;
$dark:         $purple;
$white:        #fff;
$black:        #000;

// Defaults
// =============================================================================

// Selection
$selection-text:       $white;
$selection-background: $black;

// Social Colors
// =============================================================================

$facebook-color:  #4267b2;
$instagram-color: #e1306c;
$linkedin-color:  #0e76a8;
$messenger-color: #006aff;
$pinterest-color: #e60023;
$snapchat-color:  #fffc00;
$twitter-color:   #1da1f2;
$whatsapp-color:  #25d366;
$youtube-color:   #f00;
