// =============================================================================
// Settings: Typography
// =============================================================================
// This file contains the type setting(s) properties

// Font stacks: https://css-tricks.com/snippets/css/font-stacks/
// =============================================================================

$font-body: "Spartan", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-heading: $font-body;

// Defaults
// =============================================================================
$font-size:           18px;
$font-color:          $black;
$line-height-body:    1.5em;
$line-height-heading: 1.2em;

// Sizes & weights
// =============================================================================

// Headings
$font-h1: 60px;
$font-h2: 30px;
$font-h3: 24px;
$font-h4: 21px;
$font-h5: 14px;
$font-h6: 11px;

// Weights
$font-hairline: 100;
$font-thin:     200;
$font-light:    300;
$font-book:     400;
$font-regular:  400;
$font-medium:   500;
$font-semibold: 600;
$font-demibold: 600;
$font-bold:     700;
$font-heavy:    800;
$font-ultra:    800;
$font-black:    900;

// Body copy
$font-family: $font-body;
$font-weight: $font-regular;

// Line heights
$line-height:    $line-height-body;
$heading-height: $line-height-heading;
